<div style="display:flex ; justify-content: center">
    <div style="width:50%">
        <carousel [noPause]="false">
        <slide>
            <img src="assets/images/nature/6.jpg" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            <h3>Flower</h3>
            <p>Look! This flower is beautiful</p>
            </div>
        </slide>
        <slide>
            <img src="assets/images/nature/7.jpg" alt="Second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            <h3>Beautiful</h3>
            <p>This flower is very beautiful.</p>
            </div>
        </slide>
        <slide>
            <img src="assets/images/nature/8.jpg" alt="Third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            <h3>Tree</h3>
            <p>Sky is blue</p>
            </div>
        </slide>
        </carousel>
    </div>
</div>
